In [1]:
import pandas as pd
import matplotlib
from sklearn.preprocessing import LabelBinarizer
%matplotlib inline

In [2]:
df = pd.read_csv('final_cleaned_df.csv')
# df.head()

In [3]:
for col in df.columns:
    print(col)

Unnamed: 0
set_num
set_name
theme_group
theme
subtheme
year_released
pieces
designer
msrp
age_range
packaging
availability
rating
launch_date
retirement_date
minifigs_total
minifigs_unique
pct_appreciation

In [4]:
df.drop(['Unnamed: 0', 'set_name','year_released', 'designer', 'msrp', 'age_range', 'packaging', 'availability', 
        'rating', 'launch_date', 'retirement_date'], axis=1, inplace=True)

In [5]:
df.set_index('set_num', inplace=True)

In [6]:
# replace Nan in minifig columns with zero
df['minifigs_total'] = df['minifigs_total'].fillna(0)
df['minifigs_unique'] = df['minifigs_unique'].fillna(0)
# df

In [7]:
# there are 140 rows with Nan pieces, drop them
# df['pieces'].isna().sum()
df = df.dropna(subset=['pieces'])

In [8]:
# round the pct_appreciation to 1 dec point
df['pct_appreciation'] = df['pct_appreciation'].round(1)
# df

In [9]:
df.dtypes

theme_group          object
theme                object
subtheme             object
pieces              float64
minifigs_total      float64
minifigs_unique     float64
pct_appreciation    float64
dtype: object

In [10]:
df = df.astype({'pieces': 'int',
            'minifigs_total': 'int',
            'minifigs_unique': 'int',}
            )

In [11]:
df.dtypes

theme_group          object
theme                object
subtheme             object
pieces                int32
minifigs_total        int32
minifigs_unique       int32
pct_appreciation    float64
dtype: object

In [12]:
df['theme_group'].value_counts()

Licensed            674
Action/Adventure    252
Modern day          206
Model making        158
Girls               119
Technical           103
Miscellaneous        94
Educational          30
Basic                23
Junior               22
Historical           15
Constraction         15
Racing                6
Art and crafts        5
Name: theme_group, dtype: int64

In [13]:
df_test = df[ ['theme_group', 'pct_appreciation'] ]
df_test

          theme_group  pct_appreciation
set_num
60009      Modern day              55.3
60012      Modern day               NaN
75975        Licensed             -21.0
10155    Model making             151.5
10210    Model making             168.2
...               ...               ...
9526         Licensed             390.5
9585      Educational               NaN
9594      Educational               NaN
9688      Educational               NaN
9695      Educational               NaN

[1722 rows x 2 columns]

In [16]:
lb = LabelBinarizer()
lb_results = lb.fit_transform(df_test['theme_group'])
lb_results_df = pd.DataFrame(lb_results, columns=lb.classes_)

In [17]:
lb_results_df.head()

,Action/Adventure,Art and crafts,Basic,Constraction,Educational,Girls,Historical,Junior,Licensed,Miscellaneous,Model making,Modern day,Racing,Technical
0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [19]:
df_test_result = pd.concat([df_test, lb_results_df], axis=1)
df_test_result.head()

,theme_group,pct_appreciation,Action/Adventure,Art and crafts,Basic,Constraction,Educational,Girls,Historical,Junior,Licensed,Miscellaneous,Model making,Modern day,Racing,Technical
0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0